# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env
.env.*

# VSCode
.vscode/

# OS
.DS_Store
chroma_db/chroma.sqlite3
chroma_db/79c78ac6-fe01-4c18-9343-9abe42654619/data_level0.bin
chroma_db/79c78ac6-fe01-4c18-9343-9abe42654619/header.bin
chroma_db/79c78ac6-fe01-4c18-9343-9abe42654619/length.bin
chroma_db/79c78ac6-fe01-4c18-9343-9abe42654619/link_lists.bin
